button.rec-dot{
  background-color: #43D3B2;
  box-shadow: 0 0 1px 3px #43D3B2;
  margin-left: 12px;
}

button.rec-dot_active {
  background: none;
  transform: scale(1.2);
}

button.rec-dot:focus {
  background: white;
  box-shadow: 0 0 3px 3px #43D3B2;
}

button.rec-dot:hover {
  transform: scale(1.5);
}